body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1350px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1300px !important;
    }
}

.app-container {
    .header-container {
        .navbar {
            z-index: 10;
            background-color: rgba(0, 0, 0, 0) !important;

            .btn-login {
                border: solid black;
                height: 42px;
                border-radius: 10px;
                font-weight: 500;
                color: #1a1a19;
                padding: 8px 16px;
                margin-right: 16px;
                text-align: center;

                &:hover {
                    background-color: #3399ff;
                    border: #3399ff;
                }
            }

            .btn-signup {
                border: transparent;
                height: 42px;
                background-color: #1a1a19;
                color: #ffffff;
                border-radius: 10px;
                padding: 8px 16px;
                margin-right: 16px;
                text-align: center;
                font-weight: 500;

                &:hover {
                    background-color: #3399ff;
                    border: #3399ff;
                }
            }



            .nav-link {
                &.active {
                    // class active ngang hàng với class nav-link vì vậy cần thêm ký tự '&' vào trước class
                    color: #3399ff;
                }
            }
        }

    }

    .homepage-container {
        .homepage-content {
            position: relative;
            width: 382px;
            margin-top: 200px;
            margin-left: 155px;

            .homepage-title {
                color: #262627;
                font-size: 48px;
                letter-spacing: -0.96px;
                line-height: 48px;
                margin-bottom: 28px;
            }

            .homepage-desc {
                color: #262627;
                line-height: 28px;
                margin-bottom: 40px;
            }

            .homepage-btn button {
                border: transparent;
                background-color: #1a1a19;
                border-radius: 12px;
                font-weight: 500;
                padding: 12px 24px;
                text-align: center;
                color: #ffffff;

                &:hover {
                    background-color: #3399ff;
                    border: #3399ff;
                }
            }

        }

        video {
            position: fixed;
            bottom: 0;
            width: 100vw;
        }
    }

}